.table-primary {
  background-color: rgb(231, 231, 105);
}

.table-secondary {
  background-color: rgb(124, 133, 143);
}

.table-fixed {
  table-layout: fixed;
  width: 100%;
}

.table-fixed th,
.table-fixed td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-secondary {
  background-color: rgb(216, 197, 89);
  color: black;
}

.table-container {
  max-height: 700px;
  overflow-y: scroll;
}

.table-container-form {
  max-height: 300px;
  overflow-y: scroll;
}


/* Scrollbar Styles */
.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  background: #888;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

